* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff9a8;
  text-align: center;
  align-items: center;
  min-height: auto;
  margin: 0;
}

h1 {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  letter-spacing: 10px;
}

.timer {
  font-size: 5em;
  color: #000000;
  margin: 20px;
  letter-spacing: 20px;
}

#start,
#stop,
#reset {
  border: none;
  background-color: #03A791;
  padding: 15px 40px;
  border-radius: 45px;
  font-size: 2rem;
  width: 180px;
  font-weight: bolder;
  transition: 0.4s ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

button {
  margin: 20px;
}

#start:hover {
    background-color: #F1BA88;
    color: white;
    box-shadow: 5px 5px 5px #caa37f;
}

#reset:hover {
    background-color: #F1BA88;
    color: white;
    box-shadow: 5px 5px 5px #caa37f;
}

#stop:hover {
    background-color: #F1BA88;
    color: white;
    box-shadow: 5px 5px 5px #caa37f;
}

.waves {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height:  auto;
  margin-bottom: 7px; /*Fix for safari gap*/
  min-height: 200px;
  max-height: auto;
  margin: 0;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .timer {
    font-size: 4em;
    letter-spacing: 10px;
  }
  h1 {
    font-size: 3em;
    letter-spacing: 5px;
  }
  #start,
  #stop, #reset {
    font-size: 1.7rem;
    width: 130px;
    padding: 20px;
  }

  .button {
    margin: 20px;
  }
}

@media (max-width: 425px) {
  .waves {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .timer {
    font-size: 3em;
    letter-spacing: 5px;
  }
  h1 {
    font-size: 1.5em;
    letter-spacing: 5px;
  }
  #start,
  #stop, #reset {
    font-size: 1rem;
    width: 100px;
    padding: 20px;
  }

  .button {
    margin: 5%;
  }
}